//  * BUTTONS *

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px 24px;
  min-width: 217px;

  border: 0;
  border-radius: 6px;
  background: var(--gradient-green);
  color: var(--text-color--bright);

  @include font(13px, 600, 18px);

  cursor: pointer;

  &:hover,
  &:focus {
    background: var(--gradient-green--hover);
  }
  &:active {
    background: var(--gradient-green--active);
  }

  @media screen and (min-width: 1280px) and (max-width: 1359px) {
    @include font(16px, 500, 24px);
  }
}

.button--link {
  position: relative;
  min-width: 118px;

  background: transparent;
  color: var(--text-color--accent);

  @include font(13px, 400, 18px);

  &:hover,
  &:focus,
  &:active {
    background: transparent;
    color: var(--text-color--accent);

    &::after {
      opacity: 0;
    }
  }

  &:disabled {
    opacity: 0.5;
    background: transparent;
    color: var(--text-color--accent);
  }

  &::after {
    content: "";
    position: absolute;
    top: 31px;
    width: calc(100% - 48px);
    height: 1px;

    background-color: var(--text-color--accent);
    opacity: 0.3;
  }

  @media screen and (min-width: 1280px) and (max-width: 1359px) {
    @include font(16px, 500, 24px);
    letter-spacing: -0.011px;

    &::after {
      top: 37px;
    }
  }
}
