//  * FEATURES SECTION *

.features__container {
  max-width: 1308px;
  margin-left: auto;
  margin-right: auto;
}

.features__list {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media screen and (min-width: 1920px) {
    justify-content: space-between;
    gap: 114px;
  }
}

.features__item {
  width: 240px;

  @media screen and (min-width: 1280px) {
    width: 300px;
  }

  @media screen and (min-width: 1560px) {
    width: 360px;
  }
}

//  title
.features__title {
  margin-bottom: 24px;

  @include font(13px, 600, 18px);

  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    padding: 6px;
    margin-bottom: 24px;

    background: radial-gradient(
      circle,
      rgba(0, 56, 229, 1) 35%,
      rgba(0, 56, 229, 0.15) 35%
    );
    border-radius: 50%;
  }

  @media screen and (min-width: 1360px) {
    @include font(16px, 500, 24px);
  }
}

// . text
.features__text {
  @include font(13px, 400, 18px);

  color: var(--secondary-text-color);
}
