// * PLATFORM NAVIGATION *

.platform-nav {
  grid-area: platform-nav;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 12px;

  background-color: var(--bg-color--dark);
}

.platform-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

.platform-nav__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;

  border-radius: 50%;
}

.platform-nav__icon-box--accent {
  position: relative;
  margin-bottom: 25px;

  background-color: var(--accent--blue);

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 48px;
    width: 48px;
    height: 1px;

    background: var(--icon-color);
    opacity: 0.3;
  }
}

.platform-nav__icon {
  width: 24px;
  height: 24px;

  border-radius: 50%;

  background-color: var(--icon-color);
}

.platform-nav__icon--add {
  background-color: var(--accent--blue);
}
