//  * PROMOTION SECTION *

.promotion {
  margin-bottom: 96px;
}

.promotion__container {
  position: relative;
  max-width: 1788px;

  margin-left: auto;
  margin-right: auto;

  background-color: var(--secondary-bg-color);
  border-radius: 18px;
}

.promotion__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;

  max-width: 1308px;
  height: 540px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1560px) {
    gap: 120px;
  }
}

//  * LEFT SIDE *
.promotion__left {
  display: flex;
  flex-direction: column;

  width: 360px;
  margin-left: 36px;

  @media screen and (min-width: 1280px) {
    width: 540px;
  }

  @media screen and (min-width: 1560px) {
    width: 600px;
    margin-left: auto;
  }

  @media screen and (min-width: 1920px) {
    width: 600px;
    margin-left: 0px;
  }
}

//  title
.promotion__title {
  margin-bottom: 30px;

  @include font(30px, 500, 42px);
  letter-spacing: -0.021px;

  @media screen and (min-width: 1360px) {
    @include font(46px, 700, 60px);
    letter-spacing: -0.022px;
  }
}

//  text
.promotion__text {
  margin-bottom: 48px;

  @include font(13px, 400, 18px);

  @media screen and (min-width: 1280px) {
    @include font(16px, 500, 24px);
    letter-spacing: -0.011px;
  }
}

.promotion__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

// * RIGHT SIDE *
.promotion__right {
  margin-left: auto;
}

// overlay image
.visual {
  position: absolute;
  top: 0px;
  right: 0;
  width: 476px;
  height: 600px;

  background-color: rgba(106, 132, 226, 0.1);
  background-image: url("../img/graphics.svg");
  background-repeat: no-repeat;
  background-position: bottom 0 right -278px;
  border-radius: 0px 18px 0px 0px;

  @media screen and (min-width: 1360px) {
    width: 616px;
  }

  @media screen and (min-width: 1920px) {
    width: 828px;
  }
}
